{% extends "layout.html" %}

{% block content %}
  	<div class="page-header">
	  <a class="update btn btn-success" href="/wiki/{{url_name}}/edit">Edit</a>
	  <form action="/wiki/{{url_name}}/delete">
	  	<button class="update btn btn-danger">Delete</button>
	  </form>
	  <h1>{{title}}</h1>
	</div>

	<div>
		{{content|md}}
	</div>

	<hr>

	<div>
		<ul class="list-inline">
			<li><a class="btn btn-danger btn-xs" href="{{url_name}}/similar">view similar</a></li>
			{% for tag in tags %}
				<li><a class="label label-info" href="/tags/{{tag}}">#{{tag}}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div>
		<h2 id="comment-header">Comments</h2>
		<hr>
		{% for comment in comments %}
			{{comment|md}}
			<form action=""
				<button class="btn btn-danger btn-xs">Delete Comment</button>
			</form>
			<hr>
		{% endfor %}

	<form action="/wiki/{{url_name}}/comment" method="post" role="form" id="comment-form">
		<div class="form-group">
			<label for="body_content">ADD A COMMENT</label>
			<textarea name="page_new_comment" type="text" rows="4" class="form-control" id="new_comment"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		<span class="btn btn-warning">Edit Comments</span>
	</form>
	
	</div>



{% endblock %}